# Môi trường Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Trọng số của mô hình (Quá nặng để đẩy lên Github)
*.pt
*.pth
weights/

# Thư mục huấn luyện sinh ra tự động
runs/
wandb/
.ipynb_checkpoints/

# Hệ thống
.DS_Store
Thumbs.db

# Dữ liệu
datasets/
data/
*.zip
*.tar.gz
